/*=============== Fondo y tipografía general ===============*/
body {
  font-family: Arial, sans-serif;
  background: url('../../media/barra/barra.avif') no-repeat center center fixed;
  background-size: cover;
  background-position: top;
  color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* Encabezado */
header {
  text-align: center;
  padding: 4px 8px;
  border-bottom: 2px solid #d62828;
}
h1 {
  color: #d62828;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.1;
}
p {
  color: #ccc;
  margin: 2px 0 8px;
  font-size: 16px;
  font-style: italic;
  line-height: 1.2;
}

/*=============== Menú de categorias ===============*/
/* Contenedor con scroll */
.contenedor-scroll {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  margin-bottom: 60px;
}
/* Scroll personalizado */
.contenedor-scroll::-webkit-scrollbar {
  width: 10px;
}

.contenedor-scroll::-webkit-scrollbar-track {
  background: #111;
  border-radius: 5px;
}

.contenedor-scroll::-webkit-scrollbar-thumb {
  background: #6e1f1f;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.contenedor-scroll::-webkit-scrollbar-thumb:hover {
  background: #822626;
}
/* Categorías */
.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.categoria {
  background: #111;
  color: #f4f4f4;
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 2px 8px rgba(229, 9, 20, 0.6);
  transition: transform 0.2s, background 0.2s;
}
.categoria:hover {
  background: #e50914;
  transform: scale(1.05);
}


/*=============== Footer fijo ===============*/
/* Contenedor de footer */
.footer-fijo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.6);
}
/* Botón regresar */
.btn-regresar {
  background: #222;
  color: #d62828;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #d62828;
  transition: background 0.2s, color 0.2s, transform 0.2s;
}
.btn-regresar:hover {
  background: #d62828;
  color: #fff;
  transform: scale(1.05);
}